.article {
  display: grid;
  place-items: center;
  width: 100vw;
}
.thumbnail {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 40vw;
  height: 20vh;
}
.text {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 40vw;
  color: var(--color-surface-light);
}
.title {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 40vw;
  color: var(--color-surface-light);
}
