
.navigation-bar {
  z-index: 999;
  display: flex;
  position: sticky;
  top: 0;
  height: 5vh;
  padding-left: 40px;
  padding-right: 30px;
  background-color: #000;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.navigation-bar .logo {
  font-size: 1.25em;
  padding-left: 2vw;
  cursor: pointer;
  text-decoration: none;
  color: #5626c4;
  text-shadow: var(--neon-blue-effect);
  transition: 0.25s;
}
.navigation-bar .logo:hover {
  transform: scale3d(1.2, 1.4, 1.2);
  transition: 0.25s;
}
.navigation-bar .menu a {
  color: lightgray;
  text-decoration: none;
  transition: 0.25s;
  padding-left: 1em;
}
.navigation-bar .menu a:hover {
  transform: scale3d(1.2, 1.4, 1.2);
  text-shadow: var(--neon-blue-effect);
  transition: 0.25s;
  cursor: pointer;
}
.navigation-bar .menu .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c9b6ff;
  padding: 3%;
  border-radius: 20px;
  border: 5px solid #6846a7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.navigation-bar .menu .popup .close {
  font-size: larger;
  position: absolute;
  top: 2vh;
  right: 2vh;
  cursor: pointer;
}
.navigation-bar .menu .popup h1 {
  font-size: 30px;
}
.navigation-bar .menu .popup p {
  font-size: 20px;
}
.navigation-bar .dropdown-btn {
  display: none;
}
